@import url(http://fonts.googleapis.com/css?family=Open+Sans|Gentium+Book+Basic);

* {
  /* Layout Declarations */
  box-sizing: border-box;
}

body {
  /* Typography Declarations */
  color: #222222;
  font-size: 1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.masthead-heading,
.masthead-intro,
.content-footer > p,
.social{
  text-align: center;
}

.masthead {
  padding: 1em 0;
  background: url('cover.jpeg') no-repeat -800px -900px;
  border-top: solid 1em #B8D97B;

}

.masthead-intro {
  margin-bottom: 0.1em;
  font-family: "Gentium Book Basic", Georgia, serif;
  font-size: 2em;
  color: #B8D97B;
  text-shadow: 1px 1px 1px #000;
  margin-top: 3em;
}

.masthead-heading {
  margin-top: -0.1em;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 8em;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}



.introduction,
.location,
.questions,
.portfolio {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}


.introduction {
  margin-top:-1em;
}
.content-footer ul{
  list-style-type: none;

}

.social > li {
  display: inline-block;
}

.social {
  padding:0;
}

.social i {
  font-size: 3.5em;
}

.content-footer > p {
  color: white;
}

.introduction > p,
.location > p,
.content-footer > p {
  font-weight: 300;
  letter-spacing: 0.05em;
}

.introduction a:link, .introduction a:visited, .introduction a:hover, .introduction a:active {
  color:black;
}

.questions-section > h2 {
  /* Typography Declarations */
   font-family: "Gentium Book Basic", Georgia, serif;
   font-size: 1.2em;
   font-weight: bold;
}

.content-footer {
  margin-top: 5em;
  padding: 4em 0;
  background-color: #B8D97B;
  max-width: auto;
}

.masthead-heading {
  text-shadow: 2px 2px 2px #000;
  color: #B8D97B;
}

a:link, a:visited, a:hover, a:active {
  color:#FFF;
}

/*Portfolio section styles */

.portfolio ul {
  -webkit-padding-start: 0px;
}

.portfolio a:link, .portfolio a:visited, .portfolio a:hover, .portfolio a:active {
  color:black;
}

.line1 li, .line2 li {
  list-style-type: none;
  display: inline;
}

.portfolio img {
  border-radius: 20px;
  border: 1px solid black;
}


/* Media Queries */

@media only screen and (max-width : 400px) {
  .masthead {
    padding: 0;
    background: url('cover.jpeg') no-repeat -1350px -1000px;
    padding-bottom: 1em;
  }
  .masthead-heading {
    font-size: 4em;
  }

  .masthead-intro  {
    margin-top: 1em;
  }

  .introduction h1 {
    margin-top: 3em;
  }

  .portfolio img {
    width: 100%;
    text-align: center;
  }

  section {
  padding-left: .2em;
  padding-right: .2em;
}
}
